<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/cde6f629-7e84-4d1b-8827-b17b4921155c/resourceGroups/TrainingApp/providers/Microsoft.Web/sites/TrainingAppProject</ResourceId>
    <ResourceGroup>TrainingApp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://trainingappproject.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://trainingappproject.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$TrainingAppProject</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>