<!--
/// <summary>
/// Module purpose: View for Assessment Monitor page that displays a list of assessment records that are already assigned to trainees
/// Authors: Hansol Lee / Jei Yang
/// Date: Oct 26, 2022
/// Source: Created for the COMP7022 project
/// Revision History:
///
/// </summary>
-->
@{
    ViewData["Title"] = "Assessment Monitor Page";
}


@section Scripts
{
    <script src="@Url.Content("~/js/pages/assessmentMonitor/assessmentMonitor.js")"></script>
}

@section Styles {
    <link href="@Url.Content("~/css/pages/assessmentMonitor.css")" rel="stylesheet" type="text/css" />
}

<hr class="solid" />

<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h3 class="page-title">Assessment Monitor</h3>
            </div>
        </div>
    </div>

    <partial name="_AssessmentMonitorFilter" />

    <div class="bg-white m20 p20">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div class="table-responsive">
                        <table class="table no-wrap">
                            <thead>
                                <tr>
                                    <th class="border-top-0">NAME</th>
                                    <th class="border-top-0">DATE</th>
                                    <th class="border-top-0">CREATOR</th>
                                    <th class="border-top-0">PUBLISHED</th>
                                    <th class="border-top-0">GRADING SCHEMA</th>
                                    <th class="border-top-0">RESULT</th>
                                    <th class="border-top-0">OPTIOPNS</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    for (int i = 0; i < 15; i++)
                                    {
                                        <tr>
                                            <td>Take off test</td>
                                            <td class="txt-oflo">12.10.2022</td>
                                            <td>Marvin McKinney</td>
                                            <td>Trainee 1</td>
                                            <td>CLOSED</td>
                                            <td>
                                                <button type="button" class="btn btn-success">
                                                    Pass
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn text-primary"><i class="fas fa-search"></i></button>
                                                <button class="btn text-warning"><i class="fas fa-pencil-alt"></i></button>
                                                <button class="btn text-danger"><i class="far fa-trash-alt"></i></button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

