@model UserViewModel
<!--
/// <summary>
/// Module purpose: Modal body for user creation/updating
/// Authors: Hansol Lee / Jei Yang
/// Date: Oct 26, 2022
/// Source: Created for the COMP7022 project
/// Revision History:
///
/// </summary>
-->
@{
    
    List<string> roles = (Model.User is null)?  new List<string>() :
        Model.User.Role.Split(",").ToList();
}

<form asp-controller="user" asp-action="UpdateUser" method="post" id="createUserForm" role="form">
    <input type="text" class="form-control hide" asp-for="User.ID">
    
    <div class="form-group row">
        <label for="userFirstName" class="col-sm-4 col-form-label">
            First Name <span class="red">*</span>
        </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="userFirstName" asp-for="User.FirstName" required>
            <span id="firstNameError" class="error text-danger" asp-validation-for="User.FirstName"></span>
        </div>
    </div>
    <div class="form-group row">
        <label for="userLastName" class="col-sm-4 col-form-label">
            Last Name <span class="red">*</span>
        </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="userLastName" asp-for="User.LastName" required>
            <span id="lastNameError" class="error text-danger" asp-validation-for="User.LastName"></span>
        </div>
    </div>
    <div class="form-group row">
        <label for="userName" class="col-sm-4 col-form-label">
            User Name <span class="red">*</span>
        </label>
        <div class="col-sm-8">
            @if (Model.TargetAction == "Create")
            {
                <input type="text" class="form-control" id="userName" asp-for="User.UserName" required>
            }
            else
            {
                <input type="text" class="form-control" id="userName" asp-for="User.UserName" disabled>
            }
            <span id="userNameError" class="error text-danger" asp-validation-for="User.UserName"></span>
        </div>
    </div>
    <div class="form-group row">
        <label for="attemptAllow" class="col-sm-4 col-form-label">
            User Code
        </label>
        <div class="col-sm-8">
            <input type="text" class="form-control mt10" id="userCode" asp-for="User.UserCode">
            <span id="userCodeError" class="error text-danger" asp-validation-for="User.UserCode"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-form-label">
            User Role
        </label>
        <div class="ml20">
            <div class="form-check">
                @if (roles.Contains("Admin"))
                {
                    <input class="form-check-input roleCheckbox" type="checkbox" value="Admin" checked>
                }
                else
                {
                    <input class="form-check-input roleCheckbox" type="checkbox" value="Admin">
                }
                <label class="form-check-label" for="flexCheckDefault">
                    Admin
                </label>
            </div>
            <div class="form-check">
                @if (roles.Contains("Examiner"))
                {
                    <input class="form-check-input roleCheckbox" type="checkbox" value="Examiner" checked>
                }
                else
                {
                    <input class="form-check-input roleCheckbox" type="checkbox" value="Examiner">
                }
                <label class="form-check-label" for="flexCheckChecked">
                    Examiner
                </label>
            </div>
            <div class="form-check">
                @if (roles.Contains("Trainee"))
                {
                    <input class="form-check-input roleCheckbox" type="checkbox" value="Trainee" checked>
                }
                else
                {
                    <input class="form-check-input roleCheckbox" type="checkbox" value="Trainee">
                }
                <label class="form-check-label" for="flexCheckChecked">
                    Trainee
                </label>
            </div>
            <input id="rolesCheckboxInput" class="hide" type="text" asp-for="User.Role" />
            <span id="rolesError" class="error text-danger" asp-validation-for="User.Role"></span>
        </div>
    </div>
</form>

