<!--
/// <summary>
/// Module purpose: Main Template page for template create, edit and delete functionality
/// Authors: Hansol Lee / Jei Yang
/// Date: Oct 26, 2022
/// Source: Created for the COMP7022 project
/// Revision History:
///
/// </summary>
-->
@{
    ViewData["Title"] = "Template Page";
}

@section Scripts
{
    <script src="@Url.Content("~/js/pages/template/template.js")"></script>
}

@section Styles {
    <link href="@Url.Content("~/css/pages/template.css")" rel="stylesheet" type="text/css" />
}

<partial name="_CreateTemplate" />

<hr class="solid" />

<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h3 class="page-title">Template</h3>
            </div>
        </div>
        <button id="createTemplateModalBtn" class="btn btn-primary mt20" type="button">
            <i class="fas fa-plus-circle"></i>
            NEW
        </button>
    </div>

    <partial name="_TemplateFilter" />

    <div class="bg-white m20 p20">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div class="table-responsive">
                        <table class="table no-wrap">
                            <thead>
                                <tr>
                                    <th class="border-top-0">NAME</th>
                                    <th class="border-top-0">DATE</th>
                                    <th class="border-top-0">CREATOR</th>
                                    <th class="border-top-0">PUBLISHED</th>
                                    <th class="border-top-0">GRADING SCHEMA</th>
                                    <th class="border-top-0">OPTIOPNS</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    for (int i = 0; i < 10; i++)
                                    {
                                        <tr>
                                            <td>Template 1</td>
                                            <td class="txt-oflo">12.10.2022</td>
                                            <td>Hansol Lee</td>
                                            <td class="txt-oflo">Yes</td>
                                            <td>Grade(1-5)</td>
                                            <td>
                                                <button class="btn text-primary"><i class="fas fa-search"></i></button>
                                                <button class="btn text-warning"><i class="fas fa-pencil-alt"></i></button>
                                                <button class="btn text-danger"><i class="far fa-trash-alt"></i></button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

