<!--
/// <summary>
/// Module purpose: Main Template page for template create, edit and delete functionality
/// Authors: Hansol Lee / Jei Yang
/// Date: Oct 26, 2022
/// Source: Created for the COMP7022 project
/// Revision History:
///     Nov 6, 2022 (Jei Yang): updated for template list display
/// </summary>
-->
@model TrainingApp.Models.TemplateViewModel
@{
    ViewData["Title"] = "Template Page";
}

@section Scripts
{
<script src="@Url.Content("~/js/pages/template/template.js")"></script>
}

@section Styles {
<link href="@Url.Content("~/css/pages/template.css")" rel="stylesheet" type="text/css" />
}

<hr class="solid" />

<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                <h3 class="page-title">Template</h3>
            </div>

            <div class="input-group col-lg-3 col-md-4 col-sm-4">
                <button type="button" class="btn btn-light help-button hover-text">
                    <i class="fas fa-info-circle"></i>
                    Help
                    <span class="tooltip-text" id="left">
                        <h6>Template</h6>
                        <hr class="solid mb10" />
                        <div class="tooltip-text-body">
                            Use this page to create a template for assessment criteria.<br><br>
                        
                            <b>Grading Schema</b><br>
                            Basic schema is graded as either Pass or Fail.<br>
                            Advanced schema is graded with numeric score between 1-5.
                        </div>
                        
                    </span>
                </button>
            </div> 

        </div>
        <button id="createTemplateModalBtn" class="btn btn-primary mt20" type="button" onclick="getTemplateInfo(0)">
            <i class="fas fa-plus-circle"></i>
            NEW
        </button>
    </div>

    <partial name="_TemplateFilter"/>

    <div class="bg-white m20 p20">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div class="table-responsive">
                        <table class="table no-wrap">
                            <thead>
                                <tr>
                                    <th class="border-top-0">NAME</th>
                                    <th class="border-top-0">DATE</th>
                                    <th class="border-top-0">CREATOR</th>
                                    <th class="border-top-0">PUBLISHED?</th>
                                    <th class="border-top-0">GRADING SCHEMA</th>
                                    <th class="border-top-0">OPTIONS</th>
                                </tr>
                            </thead>
                            <tbody id="templateListBody">
                                <partial name="_TemplateListBody" model="Model" />
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<partial name="_CreateTemplate" model="Model"/>-->

<div class="modal" id="createTemplateModal" tabindex="-1" role="dialog" aria-labelledby="createTemplateLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createTemplateLabel"><span class="action"></span> Template</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    onclick="modalClose('createTemplateModal')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="templateModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light button-left" type="delete"
                    onclick="modalClose('createTemplateModal')">Close</button>
                <button type="button" class="btn btn-primary"
                    onclick="validateTemplateForm('createTemplateForm')"><span class="action"></span></button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop hide" style="display:none"></div>

<partial name="../Shared/_DeleteModal" /> 
<partial name="../Shared/_ErrorAlertDialog" /> 