<div id="errorAlertDialog" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title error-title">Error</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"  onclick="modalClose('errorAlertDialog')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="errorMessage" style="margin:auto; font-size: 15px;">
      </div>
      <div class="modal-footer mt-10" style="margin:auto;">
        <button type="button" class="btn btn-secondary" class="close" data-dismiss="modal" onclick="modalClose('errorAlertDialog')">Confirm</button>
      </div>
    </div>
  </div>
</div>