/*
/// <summary>
/// Module purpose: Css script to define the layout and style of Assessment view
/// Authors: Hansol Lee / Jei Yang
/// Date: Oct 26, 2022
/// Source: Created for COMP7022 project
/// Revision History:
///     
///     
/// </summary>
*/

#taskGradeContainer .gradeFailPassButton {
    margin: 0;
    width: 30%;
    height: 100%;
    font-size: 1.5em;
}

#taskGradeContainer .gradeScoresButton {
    margin: 0;
    width: 15%;
    height: 100%;
    font-size: 1.5em;
}


#taskGradeContainer .gradeContainer {
    text-align:right;
}

.assessmentContent {
    font-size:1.3em;
    font-weight:500;
}

.assessmentContentContainer h4 {
    font-size: 1.3em;
    margin-top: 3px;
}

.gradeSelect {
    color: white;
}

.gradeSelect:focus {
    color: white;
}



.gradeButtons:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
    opacity:0.2;
}

.btn-fail, .btn-one {
    color: #fff;
    background-color: #E20E0E;
    opacity: 0.2;
    border: 0;
}
    .btn-fail:active, .btn-fail.active, .btn-fail:hover, .btn-fail:focus, .btn-fail.focus,
    .btn-one:active, .btn-one.active, .btn-one:hover, .btn-one:focus, .btn-one.focus {
        color: #fff;
        opacity: 1;
    }


.btn-pass {
    color: #fff;
    background-color: #2A8333;
    border: 0;
    opacity: 0.2;
}

    .btn-pass:active, .btn-pass.active, .btn-pass:hover, .btn-pass:focus, .btn-pass.focus {
        color: #ffffff;
        opacity: 1;
    }



.btn-two {
    color: #fff;
    background-color: #E29A0E;
    opacity:0.2;
    border: 0;
}

    .btn-two:active, .btn-two.active, .btn-two:hover, .btn-two:focus, .btn-two.focus {
        color: white;
        opacity: 1;
    }


.btn-three {
    color: #fff;
    background-color: #0bb496;
    opacity: 0.2;
    border: 0;
}

    .btn-three:active, .btn-three.active, .btn-three:hover, .btn-three:focus, .btn-three.focus {
        color: white;
        opacity: 1;
    }


.btn-four {
    color: #fff;
    background-color: #2338AA;
    opacity: 0.2;
    border: 0;
}

    .btn-four:active, .btn-four.active, .btn-four.active, .btn-four:hover, .btn-four:focus, .btn-four.focus {
        color: white;
        opacity: 1;
    }


.btn-five  {
    color: white;
    background-color: green;
    opacity: 0.2;
    border: 0;
}

    .btn-five:active, .btn-five.active, .btn-five:hover, .btn-five:focus, .btn-five.focus {
        color: white;
        opacity: 1;
    }


.signedText {
    margin-left: 30px;
    font-size: 1.3em;
}