#templateDateRange {
    min-width: 270px;
}

div.custom-control-right #publishFilterSwitchlabel::after {
    right: -8.25rem;
    left: auto;
}

div.custom-control-right #publishFilterSwitchlabel::before {
    right: -9.10rem;
    left: auto;
}

div.custom-control-right #gradeFilterSwitchlabel::after {
    right: -3.75rem;
    left: auto;
}

div.custom-control-right #gradeFilterSwitchlabel::before {
    right: -4.60rem;
    left: auto;
}
