<!--
/// <summary>
/// Module purpose: Assessment creation modal(popup) for Assessment view
/// Authors: Hansol Lee / Jei Yang
/// Date: Nov 18, 2022
/// Source: Created for the COMP7022 project
/// Revision History:
///
/// </summary>
-->
@using TrainingApp.Models.Enums;
@model EvaluationViewModel

@{
    int i = 1;
    var grade = Model.Assessment.PassGrade;

    foreach (var element in Model.Elements.OrderBy(e => e.OrderNo))
    {

        <div class="row gray-box mt20 mb20">
            <div class="row w-100 m0">
                <div class="col-md-8 p20">
                    <h4>@(i++). @element.Task.Name</h4>
                </div>

                @if (grade == GradingSchema.PassFail.ToString())
                {
                    <div class="col-md-4 gradeContainer m0 p0">
                        <button type="button" class="btn btn-fail gradeButton">Fail</button>
                        <button type="button" class="btn btn-pass gradeButton">Pass</button>
                    </div>
                }
                else
                {
                    <div class="col-md-4 gradeContainer m0 p0">
                        <button type="button" class="btn btn-fail gradeButton">1</button>
                        <button type="button" class="btn btn-success gradeButton">2</button>
                        <button type="button" class="btn btn-success gradeButton">3</button>
                        <button type="button" class="btn btn-success gradeButton">4</button>
                        <button type="button" class="btn btn-success gradeButton">5</button>
                    </div>
                }
            </div>
        </div>
    }

}

